<router-outlet>
  <app-navigation></app-navigation>
  <app-sidenavbar></app-sidenavbar>

  <div class="container">
    <h1>Liste des compagnies</h1>
    <div style="margin-top: 20px">
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
          <!-- Name Column -->
          <ng-container matColumnDef="idCompany">
            <th mat-header-cell *matHeaderCellDef style="font-weight: 550">
              Identifiant de la compagnie
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.idCompany }}
            </td>
          </ng-container>

          <!-- Category Column -->
          <ng-container matColumnDef="companyName">
            <th mat-header-cell *matHeaderCellDef style="font-weight: 550">
              Nom de la compagnie
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.companyName }}
            </td>
          </ng-container>

          <!-- Date Column -->
          <ng-container matColumnDef="relationwithProject">
            <th mat-header-cell *matHeaderCellDef style="font-weight: 550">
              Nombre de projets liés
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.relationwithProject }}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

        <mat-paginator
          color="primary"
          [pageSizeOptions]="[5, 3, 10, 20]"
          showFirstLastButtons
          aria-label="Select page of periodic elements"
        >
        </mat-paginator>
      </div>
    </div>
  </div>
</router-outlet>
