@import "./../../styles.scss";

*{
    font-family: $font-1 !important;
    color: $color-3 !important; 
}
.form-container{
    h1{

        font-weight: 501;
        font-size: 1.1rem;
    }


.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
  }
  
  .example-radio-button {
    margin: 5px;
  }

}