<!-- <div class="notif">
  <h4 class="contenu"><strong>Nouvelle compagnie</strong> 3m</h4>
  <h4 class="contenu"><strong>Nouvelle tâche</strong> 15m</h4>
  <h4 class="contenu"><strong>Nouvelle tâche</strong> 2h</h4>
  <h4 class="contenu"><strong>Nouveau projet</strong> 3h</h4>
  <h4 class="contenu"><strong>Nouvelle compagnie</strong> 13h</h4>
  <h4 class="contenu"><strong>Nouvelle tâche</strong> 6d</h4>
  <h4 class="contenu"><strong>Nouveau projet</strong> 3m</h4>
  <h4 class="contenu"><strong>Nouvelle compagnie</strong> 3m</h4>
  <h4 class="contenu"><strong>Nouvelle compagnie</strong> 3m</h4>
</div> -->

<mat-list>
  <mat-list-item>Item 1</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>Item 2</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>Item 3</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>Item 3</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>Item 3</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>Item 3</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>Item 3</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>Item 3</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>Item 3</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>Item 3</mat-list-item>
</mat-list>
