<div class="navigation">
  <ul>
    <li class="list" routerLinkActive="active">
      <a routerLink="/home">
        <span class="icon">
          <mat-icon>home</mat-icon>
          <!-- <img src="./../../assets/icons8_home_100px.png" alt="" /> -->
        </span>
        <span class="title">Accueil</span>
      </a>
    </li>
    <li class="list" routerLinkActive="active">
      <a routerLink="/company">
        <span class="icon">
          <!-- <img src="./../../assets/icons8_company_100px.png" alt="" /> -->
          <mat-icon>work_outline</mat-icon>
        </span>
        <span class="title">Compagnies</span>
      </a>
    </li>
    <li class="list" routerLinkActive="active">
      <a routerLink="/project">
        <span class="icon"><mat-icon>poll</mat-icon></span>
        <span class="title">Projets</span>
      </a>
    </li>
    <li class="list" routerLinkActive="active">
      <a routerLink="/task">
        <span class="icon"><mat-icon> insert_chart_outlined</mat-icon></span>
        <span class="title">Tâches</span>
      </a>
    </li>
    <li class="list" routerLinkActive="active">
      <a routerLink="/taskLog">
        <span class="icon"><mat-icon>library_books</mat-icon></span>
        <span class="title">Journal</span>
      </a>
    </li>
    <li class="list">
      <a>
        <span class="icon"> <mat-icon> settings</mat-icon></span>
        <span class="title">Reglages</span>
      </a>
    </li>
  </ul>
</div>
